@{
    ViewBag.Title = "Home Page";
}

    <div class="jumbotron">

        <h1>Welcome to PuzzlePlace</h1>
        <p class="lead">Its the best place for you to buy your customized puzzle</p>
        <h2>Getting started</h2>
        <ul class="">
            <li><a class="" href="/">Home</a></li>
            <li><a class="" href="home/GetListing">Show Product</a></li>
            <li><a class="" href="home/PlaceOrder">Place Order</a></li>
            <li><a class="" href="home/CheckMyOrder">Check Order</a></li>
        </ul>
    </div>

<div class="row">
    <div class="col-md-3">
        <h2>Story Index</h2>
        <ul class="">
            <li><a class="" href="#first">First Job</a></li>
            <li><a class="" href="#second">Second Job</a></li>
            <li><a class="" href="#third">Third Job</a></li>
            <li><a class="" href="#current">Current Job</a></li>
        </ul>
    </div>
    <div class="col-md-9">
        <h2>Story</h2>
        <p>
            <span id="first">
                I've Studied in Utar from 2019 to 2013 as a Computer Engineer and landed my first job related to IT was with Manulife in Semantan area and it was a challenge for me as my only way of traveling to/from work is by public transport bus
                plus the working hour is on odd hours, 4 days a week. As such i had to rush to bus station &amp; pray the bus does comes by afte finish working at 10pm. In all the commotion of rushing after work, i've contracted a skin allergy about
                5 months after working here as i was constantly sweating after running and unable to dry myself until i reach home 1.5hour later.
            </span>
            <br /><br />
            <span id="second">
                On My second Job, Ipsos in which uses a VB derived language from IBM, namely SPSS. The company works in the market research industry. It was a great place with people all around the world all the way from france to china and so on.
                The reason of leaving was because the Software Manager has completed his contract &amp; going back to his home country Romania. As the new manager arrives, comes with multiple changes towards the existing wok &amp; culture which I felt uncomfortable with.
            </span>
            <br /><br />
            <span id="third">
                For my third job, It was in Ipoh working as programmer in a relatively small company of the gaming industry. It was another great place as i've harness most of my existing skills here. The bos given me multitudes of opportunities for learn new skills thats
                beneficial to the company in the long run at a comfortable timely manner. i've even gotten myself promoted to team lead handling 3 colleagues when there was a paradign shift in manpower. The only reason I decided to leave was because we could not reach an agreement
                on the salary payment method and i was going to get married at the time.
            </span>
            <br /><br />
            <span id="current">
                For my current job, I'm working as the migration lead, helping the company to migrate their legacy system to online version. The company deals mainsly in the golfing/hotel/leisure industry. They have been providing locally hosted solutions to clints for the past 20 years.
                As the technology progress,more and more clients are requesting for cloudbase system or atleast webserver system. Its a good place aswell. The only downside is that sometimes, the management beat around the bushes on what feature/UI layout they wanted cause each mangement have different view in mind.
                As such, I've been working here in the past 6 month[probational] only able to come up with 2-3 webpages only as oppose to webpages/month i can usually do.
            </span>
        </p>
    </div>

</div>